img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-left: 20px;
}

.user-container > span {
    margin: 10px;
    text-align: center;
    font-weight: 600;
    
}

.user-container {
    height: 130px;
}

.user-container:hover {
    
}