img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-left: 20px;
}

.user-container > span {
    margin: 10px;
    text-align: center;
    font-weight: 600;
}

.user-container {
    height: 130px;
}

.eliminate {
    background-color: transparent;
    color: orange;
    border: none;
    font-size: 10px;
    padding: 0px;
}

.eliminate:hover {
    background-color: transparent;
    color: rgb(255, 184, 53);
}